* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Helvetica";
}



/******************** Header ********************/ 

header {
	width: 100%;
	background-color: #000;
	height: 70px;
}

#headTitle {
	float: left;
}

#headTitle h1{
	font-family: "Helvetica neue", Helvetica;
	font-size:2.5em;
	color: #fff;
	margin-top: 22px;
	margin-bottom: 0;
	float: left;
}

#headTitle h3 {
	float: left;
	color: #b7b1b1;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-size: 1.4em;
	margin-left: 17px;
	margin-top: 39px;
	font-weight: 100 !important;
}

#loginform {
	float: right;
		margin-top: 25px;
}
#loginform form{
    float: left;
}
input[type="submit"]{
	color: #fff;
	font-family: "Helvetica Neue";
	background-color: #409831;
	border: 2px;
	border-radius: 3px;
	border-color: #409831;
	padding: 5px 20px;
	font-size: 1.2em;
	margin-top: 2px;
}


input[type="button"]{
	color: #fff;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	border: 2px;
	border-radius: 5px;
	padding: 6px 20px;
	font-size: 1.2em;
}


input[type="text"], input[type="password"] {
	margin-right: 20px;
	padding: 8px;
	border-radius: 3px;
}

/******************** Header ********************/ 

#menu {
	background-color: #f1f1f1;
	width: 100%;
	height: 50px;
	margin: 0;
	border-bottom: 1.5px solid #e0dddd;
}

#checkBooking{
	float: right;
	margin-top: 18px;
}

#checkBooking h3 {
	float: left;
	font-size: 1.2em;
	color: #6e6e6e;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 200 !important;
}

#findRoom {float:left;}

#utstyr {
	float: left;
}


#utstyr .checkbox {
	float: left;
	margin-left: 10px;
	margin-top: 8px;
}

.checkText {
	color: #bdb8b8;
	font-size: 1.1em;
	float: left;
	margin-left: 5px;
	margin-top: -1px;

}

#antPersoner {
	float: left;
	margin-left: 20px;
}



#antPersoner select {
	float: left;
	margin-left: 10px;
	width: 50px;
	padding: 1px;
	font-size: 0.8em;
	margin-top: 3px;
}

#romnr {
	float: left;
	margin-left: 20px;
}

#romnr select {
	float: left;
	margin-left: 10px;
	font-size: 0.8em !important;
	padding: 1px;
	width: 120px;
	margin-top: 3px;
}

.reserver {
	background-color: #409831;
	margin-left: 20px;
}
.reserver:hover{ background-color: #3ab326; cursor: pointer; }

.avbryt {
	background-color: #c92323; 
	margin-top: 20px;
	margin-left: 10px;
}

.avbryt:hover{ background-color: #e61313; cursor: pointer; }

input[type=submit]:hover {
	background-color: green;	
}

#calender {
	margin-top: 50px;
}

.content {
	width: 1480px;
	margin: 0 auto;
	height: 100px;
}

#content h1 {
	font-family: "Helvetica";
	font-weight: "bold";
	font-size: 2em;
	margin-top: 45px;
}

#tid {
	float: left;
	list-style-type: none;
	/*margin-top: -500px;*/
	z-index: 100;
	margin-top: 67px;
	color: #989898;
	margin-right: 10px;
}

.timer {
	font-family: "Helvetica";
	margin-top: 52px;
	font-weight: bold;
	font-size: 0.9em;
}

.timer:first-child {
	margin-top: 50px;
}

.mon {
	background-color: #000;
}

#dager {
	float: right;
	color: #989898;
	font-family: "Helvetica";
}

table {
	border-collapse: collapse;
	margin: 0 auto;
	table-layout:fixed;
	margin-top: 37px;
	float: left;
}

th {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #989898;
}

td {
	width: 202px;
	height: 65px;
	border: 2px solid #d2d2d2;
	margin: 0;
	padding: 0;
	border-top: none;
}

.addBgTop {
	background-color: #a0e0f9;
	width: 100%;
	height: 67px;
	opacity: 0.85;
	margin-top: -6px;
	padding-top: 2px;
	margin-left: -2px;
	margin-bottom: -13px;
	border-radius: 5px 5px 0px 0px;
	border: 2px solid #4496b6;
	border-bottom: none;
}


.addBgBetween {
	background-color: #a0e0f9;
	border: 2px solid #4496b6;
	margin-left: -2px;
	margin-top: 0px;
	padding-top: 2px;
	width: 100%;
	height: 65px;
	opacity: 0.85;
	margin-bottom: -11px;
	border-top: none;
	border-bottom: none;
}




.addBgBottom {
	background-color: #a0e0f9;
	border: 2px solid #4496b6;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	margin-left: -2px;
	margin-top: 8px;
	padding-top: 2px;
	margin-bottom: 0px;
	border-radius: 0px 0px 5px 5px;
	border-top: none;
}

@-moz-document url-prefix() {
    .addBgTop {
		margin-bottom: -7px;
		height: 100%;
    }
	.addBgBetween {
		margin-left: -2px;
		margin-top: -5px;
		padding-top: 2px;
		margin-bottom: -8px;
	}
	.addBgBottom {
		margin-left: -2px;
		margin-top: -5px;
		padding-top: 2px;
		margin-bottom: -8px;
	}
}

.useraddBgTop {
	background-color: #93bea2;
	width: 100%;
	height: 67px;
	opacity: 0.85;
	margin-top: -6px;
	padding-top: 2px;
	margin-left: -2px;
	margin-bottom: -13px;
	border-radius: 5px 5px 0px 0px;
	border: 2px solid #67a87e;
	border-bottom: none;
}


.useraddBgBetween {
	background-color: #93bea2;
	border: 2px solid #67a87e;
	margin-left: -2px;
	margin-top: 0px;
	padding-top: 2px;
	width: 100%;
	height: 65px;
	opacity: 0.85;
	margin-bottom: -11px;
	border-top: none;
	border-bottom: none;
}




.useraddBgBottom {
	background-color: #93bea2;
	border: 2px solid #67a87e;
	width: 100%;
	height: 100%;
	opacity: 0.85;
	margin-left: -2px;
	margin-top: 8px;
	padding-top: 2px;
	margin-bottom: 0px;
	border-radius: 0px 0px 5px 5px;
	border-top: none;
}

@-moz-document url-prefix() {
    .useraddBgTop {
		margin-bottom: -7px;
		height: 100%;
    }
	.useraddBgBetween {
		margin-left: -2px;
		margin-top: -5px;
		padding-top: 2px;
		margin-bottom: -8px;
	}
	.useraddBgBottom {
		margin-left: -2px;
		margin-top: -5px;
		padding-top: 2px;
		margin-bottom: -8px;
	}
}

td .addBgTop h4  {
	margin-top: 11px;
	margin-bottom: 0;
	margin-left: 7px;
	padding: 0;
	color: #57779e;
}

td .addBgTop h5 {
	margin: 0px;
	padding: 0;
	color: #fff;
	margin-left: 7px;
	font-family: "Helvetica Neue";
	font-size: 1em;
}

td .useraddBgTop h4  {
	margin-top: 11px;
	margin-bottom: 0;
	margin-left: 7px;
	padding: 0;
	color: #528764;
}

td .useraddBgTop h5 {
	margin: 0px;
	padding: 0;
	color: #fff;
	margin-left: 7px;
	font-family: "Helvetica Neue";
	font-size: 1em;
}

#booking {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	border-radius: 5px;
	border: 2px solid #b0b0b0;
	z-index: 100;	
	width: 300px;
	height: 200px;
}

#booking h1 {
	padding: 10px;
	margin: 0;
	color: #fff;
	background-color: #3f8b32;
	border-bottom: 1px solid #b0b0b0;
}

#userBooking {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0;
	border-radius: 5px;
	border: 2px solid #b0b0b0;
	z-index: 100;	
	width: 300px;
	height: 200px;
}

#userBooking h1 {
	padding: 10px;
	margin: 0;
	color: #fff;
	background-color: #3f8b32;
	border-bottom: 1px solid #b0b0b0;
}

.select {
	margin-top: 30px;
	margin-left: 35px;
}

.tdbottom {
	border-bottom: none;
}

.ukedager {
	float: left;
	margin-right: 138px;
}

#mandag {
}

.clear {
	clear: both;
}
#loginMessage {
    float: right;
}

#loginMessage h3 {
	float: left;
	color: #b7b1b1;
	font-size: 1.4em;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	font-weight: 100 !important;
	margin-right: 20px;
	margin-top: 38px;
}

#week {
	float: left;
	font-size: 2.1em;
}

#week h1 {
	
}

#weekbuttons {
	float: right;
}

#lastweek {
	background-image: url("../img/arrow-left.png");
	height: 24px;
	width: 28px;
	cursor: pointer;
	float: left;
	margin-right: 5px;
}

#lastweek:hover{background-image: url("../img/arrow-left-hover.png");}

#nextweek {
	background-image: url("../img/arrow-right.png");
	height: 24px;
	width: 28px;
	cursor: pointer;
	float: left;
}

#nextweek:hover{background-image: url("../img/arrow-right-hover.png");}



#logout {
	float: left;
	margin-top: 30px;
	background-color: #974f4f;
}

#logout:hover {background-color: #911818; cursor: pointer;}

